
.categories-list{
    width: 787px;
    margin: 20px auto;
    padding: 20px 0;
}

.categories_link{
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    color: #C9AC8C;
}
.categories_link:hover{
    cursor: pointer;
    color: #fff;
}
