.my-profile__nav{
    display: flex;
    width: 100%;
    

}
.my-profile__list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // padding: 30px;
    list-style: none;
}
.my-profile__list li{
    width: 33.3%;
}
.my-profile__link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: rgba(70, 78, 95, 1);
}
.my-profile__link:hover, .isActiveCategories{
    background: #F3F6F9;
    
}
.my-profile__link span{
    padding: 10px 15px;
    margin-right: 5px;
    border-radius: 5px;
    background: rgba(21, 37, 64, 1);
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}